// Bootstrap Base Framework Only
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/vendor-prefixes";

// WP WYSIWYG Alignments
.alignleft {
	float: left;
	margin: 0.375em 1.75em 1.75em 0;
}

.alignright {
	float: right;
	margin: 0.375em 0 1.75em 1.75em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto 1.75em;
}

// Custom

html {
  font-size: 10px;
}

body {
  font-size: 1.5rem;
}
